{% for timetable in departures %}
    <div class='timetable-panel'>
        <div class='timetable-name'>{{ timetable.stop }}</div>
        <div class='timetable-content'>
            {% for transport in timetable.departures %}
                <div class='timetable-item {{ (transport.departure_predicted_ts < now) ? 'past' : 'future' }}'>
                    <div class='timetable-item-content'>
                        <div class='timetable-item-departure'>
                            {% if transport.departure_scheduled == transport.departure_predicted %}
                                <b>{{ transport.departure_scheduled }}</b>
                            {% else %}
                                <b>{{ transport.departure_predicted }}</b> (sch. {{ transport.departure_scheduled }})
                            {% endif %}
                            - <b>{{ transport.route_number }}
                                - {{ transport.destination }}</b>
                            {% if transport.train_number %}
                                ({{ transport.train_number }})
                            {% endif %}
                        </div>
                    </div>
                </div>
            {% endfor %}
        </div>
    </div>
{% endfor %}