{% extends "base.html.twig" %}

{% block javascripts %}
    {{ parent() }}
    {{ encore_entry_script_tags('board') }}
{% endblock %}

{% block stylesheets %}
    {{ parent() }}
    {{ encore_entry_link_tags('board') }}
{% endblock %}

{% block navigation %}
    <div class="nav-header">
        <a class="current-time" href="/">{{ now|date('H:i:s') }}</a>
    </div>
    <a class='nav' href='/board'>SČ</a>
    <a class='nav' href='/board/to_cakovice'>To SČ</a>
    <a class='nav' href='/board/to_work_hv'>To center</a>
    <a class='nav' href='/board/from_work_hv'>From work HV</a>
    <a class='nav' href='/board/to_work_maddz'>To work MaDDz</a>
    <a class='nav' href='/board/from_work_maddz'>From work MaDDz</a>
{% endblock %}

{% block content %}
    <div class="timetable">
        {% for timetable in departures %}
            {% set item_class = 'past' %}
            <div class='timetable-panel'>
                <div class='timetable-name'>{{ timetable.stop }}</div>
                <div class='timetable-content'>
                    {% for transport in timetable.departures %}
                        {% if (transport.departure_predicted_ts >= now) %}
                            {% if (item_class == 'past') %}
                                {% set item_class = 'current' %}
                            {% else %}
                                {% set item_class = 'future' %}
                            {% endif %}
                        {% endif %}
                        <div class='timetable-item {{ item_class }} '>
                            <div>
                                {{ transport.departure_predicted_diff }}
                            </div>
                            <div>
                                <b>{{ transport.departure_predicted_short }}</b>
                            </div>
                            <div>
                                {% if transport.departure_scheduled_short != transport.departure_predicted_short %}
                                    <span class="scheduled">({{ transport.departure_scheduled_short }})</span>
                                {% endif %}
                            </div>
                            <div>
                                <b>{{ transport.route_number }}</b>
                            </div>
                            <div>
                                {{ transport.destination }}
                            </div>
                            <div>
                                {% if transport.transport_type == constant('App\\Constants\\TransportType::TRAIN') and transport.platform %}
                                    [{{ transport.platform }}]
                                {% endif %}
                            </div>
                        </div>
                    {% endfor %}
                </div>
            </div>
        {% endfor %}
    </div>
{% endblock %}
