{% extends "base.html.twig" %}

{% block javascripts %}
    {{ parent() }}
    <script src="{{ asset('js/board.js') }}"></script>
{% endblock %}

{% block stylesheets %}
    {{ parent() }}
    <link href="{{ asset('css/board.css') }}" rel="stylesheet"/>
{% endblock %}

{% block content %}
    <div class="current-time-container">
        <div class="current-time">{{ now|date('H:i:s') }}</div>
    </div>


    <div class="timetable">
        {% for timetable in departures %}
            <div class='timetable-panel'>
                <div class='timetable-name'>{{ timetable.stop }}</div>
                <div class='timetable-content'>
                    {% for transport in timetable.departures %}
                        <div class='timetable-item {{ (transport.departure_predicted_ts < now) ? 'past' : 'future' }}'>
                            <div>
                                {{ transport.departure_predicted_diff }}
                            </div>
                            <div>
                                <b>{{ transport.departure_predicted }}</b>
                            </div>
                            <div>
                                {% if transport.departure_scheduled != transport.departure_predicted %}
                                    <span class="scheduled">({{ transport.departure_scheduled }})</span>
                                {% endif %}
                            </div>
                            <div>
                                <b>{{ transport.route_number }}</b>
                            </div>
                            <div>
                                {{ transport.destination }}
                            </div>
                            <div>
                                {% if transport.train_number %}
                                    ({{ transport.train_number }})
                                {% endif %}
                            </div>
                        </div>
                    {% endfor %}
                </div>
            </div>
        {% endfor %}
    </div>
{% endblock %}